.executetran_div {
  /* border: 1px solid rgb(211, 197, 197); */
  width: max-content;
  margin-top: 20px;
  padding: 10px 30px;
  width: 50%;

  border-radius: 10px;
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.box_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.executetran_div svg {
  height: 18px;
  cursor: pointer;
}

/* .executetran_div input,
select {
  border: 1px solid #65b5db;
  padding: 5px;
  color: #65b5db;
} */

.executetran_container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  flex-direction: column;
}

.execute_button_container {
  margin-top: 30px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.execute_button1 {
  color: #65b5db;
  font-size: 18px;
  border: 1px solid #65b5db;
  display: flex;
  font-weight: 700;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 15px;
}

.execute_button1 svg {
  height: 18px;
}

.execute_button2 {
  background-color: #65b5db;
  font-size: 18px;
  /* border: 1px solid #65b5db; */
  display: flex;
  color: white;
  font-weight: 700;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px;
}
